<h2 class="lead mb-4">Posts</h2>


<div class="container-fluid" *ngFor="let temp of (posts|async)">
    <div class="card card-background mb-3">
        <div class="card-header">
            <p *ngIf="temp.editDate !== null else create">Edit: {{temp.editDate.slice(0,10)}} {{temp.editDate.slice(11,16)}}</p>
            <ng-template #create>
                <p>Created: {{temp.createdDate.slice(0,10)}} {{temp.createdDate.slice(11,16)}}</p>
            </ng-template>
        </div>
        <div class="card-body">
            <a class="card-title h4" routerLink="/postView/{{temp.postId}}">{{temp.postTitle}}</a>
            <hr>
            <p class="card-text ml-2 mt-2" [innerHTML]="temp.description | shorten: 100"></p>
        </div>
        <p class="card-footer card-muted">Created By: {{temp.userName}}</p>
    </div>
</div>