

<h2>{{postMode.toUpperCase()}} Post</h2>

<form [formGroup]="PostForm" (ngSubmit)="submit()">
    <div class="form-group row">
        <label for="title" class="col-md-3 col-form-label text-md-right">Title</label>
        <div class="col-md-6">
            <input type="text" id="title" class="form-control" [formControlName]="'title'" name="title" required
                autofocus>
            <span *ngIf="!PostForm.get('title').valid && PostForm.get('title').touched">
                Please provide a valid Post title
            </span>
        </div>
    </div>

    <div class="container-md">
        <editor [formControlName]="'description'" apiKey="5hk31bq90kk57t5fnfwl38x33p4cgz9sqyov5cqqfy8dmixd" [init]="{
            height: 300,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount',
              'emoticons'
            ],
            toolbar:
              'undo redo | emoticons | formatselect | bold italic backcolor | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | removeformat | help | link image',
              
            image_title: true,
            automatic_uploads: true
            
          }"></editor>
				
        <span *ngIf="!PostForm.get('description').valid && PostForm.get('description').touched">
            Description cannot be empty
        </span>
        <div>
            <button [disabled]="PostForm.invalid" type="submit" class="btn btn-info mt-2">Post</button>
        </div>
    </div>
</form>

