<div *ngIf="!(spinner |async) else loading">
    <section id="slider">
        <div class="container-fluid card border-purple">
            <h2 class="card-title text-center" style="font-weight: 100;">{{(post|async).postTitle}}</h2>
            <h6 class="card-subtitle text-muted ml-3"><i class="fa fa-user" aria-hidden="true"></i> :
                {{(post|async).userName}}</h6>

            <div class="card-subtitle ml-2 mt-2">
                <p *ngIf="(post|async).editDate !== null else create"><i class="fas fa-clock ml-2"
                        aria-hidden="true"></i> :
                    {{(post|async).editDate}}</p>
                <ng-template #create>
                    <p><i class="fas fa-clock ml-2" aria-hidden="true"></i> : {{(post|async).createdDate}}</p>
                </ng-template>
            </div>

            <div *ngIf="(isEdit|async)" class="ml-sm-auto mb-2">
                <a class="btn btn-warning mr-2" routerLink="/post/edit/{{(post|async).postId}}">Edit</a>
                <button class="btn btn-danger" (click)="deletepost()">Delete</button>
            </div>
            <hr class="line">

            <div class="container mt-2">
                <p [innerHTML]="(post|async).description"></p>
            </div>
        </div>




        <h4 class="lead mt-4">Comments:</h4>
        <div class="media ml-sm-4 mt-4" *ngFor="let temp of showComments">
            <div class="card border-lime p-2">

                <h5>{{temp.userName}}</h5>
                <small class="text-muted"><i class="fas fa-clock ml-2" style="color: blue;" aria-hidden="true"></i>
                    : {{temp.createdDate}}</small>
            </div>
            <div class="media-body container-fluid">
                <p class="font-comment">{{temp.text}}</p>
            </div>
        </div>


        <hr>
    </section>

    <form *ngIf="islogin else notlog" [formGroup]="commentForm" (ngSubmit)="submit()">
        <div class="container-lg">
            <editor [formControlName]="'text'" apiKey="5hk31bq90kk57t5fnfwl38x33p4cgz9sqyov5cqqfy8dmixd" [init]="{
               height: 220,
               resize: false,
               forced_root_block : '',
               selector:'textarea',
               menubar: false,
               plugins: [
                 'advlist autolink lists link image charmap print preview anchor',
                 'searchreplace visualblocks code fullscreen',
                 'insertdatetime media table paste code help wordcount',
                 'emoticons'
               ],
               toolbar:
                 'undo redo | emoticons | formatselect | bold italic backcolor | \
                 alignleft aligncenter alignright alignjustify | \
                 bullist numlist outdent indent | removeformat | help'
             }"></editor>
            <span *ngIf="!commentForm.get('text').valid && commentForm.get('text').touched">
                Description cannot be empty
            </span>
            <div class="mt-2">
                <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary">comment</button>
            </div>
        </div>
    </form>

    <ng-template #notlog>
        <p class="text-center">only login users can comment the post</p>
    </ng-template>

</div>

<ng-template #loading>
    <div class="centered">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
    </div>
</ng-template>