<p>post-view works!</p>


<p>{{(post|async).userName}}</p>
<p>{{(post|async).postTitle}}</p>
<p *ngIf="(post|async).editDate !== null else create">{{(post|async).editDate}}</p>
<ng-template #create>
    <p>{{(post|async).createdDate.toLocaleString().slice(0,10)}} {{(post|async).createdDate.toLocaleString().slice(11,16)}}</p>
</ng-template>
<p class="post-text" [innerHtml]="(post|async).description"></p>
<div *ngFor="let temp of (post|async).comments">
    <p>{{temp.userName}}</p>
    <p>{{temp.text}}</p>
    <p>{{temp.createdDate.toLocaleString().slice(0,10)}} {{temp.createdDate.toLocaleString().slice(11,16)}}</p>
</div>
<form *ngIf="islogin else notlog" [formGroup]="commentForm" (ngSubmit)="submit()">
    <div class="container col-md-8">
        <editor [formControlName]="'text'" apiKey="5hk31bq90kk57t5fnfwl38x33p4cgz9sqyov5cqqfy8dmixd" [init]="{
               height: 220,
               forced_root_block : '',
               selector:'textarea',
               menubar: false,
               plugins: [
                 'advlist autolink lists link image charmap print preview anchor',
                 'searchreplace visualblocks code fullscreen',
                 'insertdatetime media table paste code help wordcount'
               ],
               toolbar:
                 'undo redo | formatselect | bold italic backcolor | \
                 alignleft aligncenter alignright alignjustify | \
                 bullist numlist outdent indent | removeformat | help'
             }"></editor>
        <span *ngIf="!commentForm.get('text').valid && commentForm.get('text').touched">
            Description cannot be empty
        </span>
    </div>
    <div class="col-md-4 offset-md-2 offset-mt-2">
        <button type="submit" class="btn btn-primary">comment</button>
    </div>
</form>

<ng-template #notlog>
    <p>only log in users can comment the post</p>
</ng-template>