<h2 class="mb-2">Sign Up</h2>
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="form-group row">
        <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
        <div class="col-md-6">
            <input type="text" [formControlName]="'email'" id="email" class="form-control" name="email">
            <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                class="help-block">Please enter a valid email</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">User Name</label>
        <div class="col-md-6">
            <input type="text" [formControlName]="'username'" class="form-control">
            <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                class="help-block">Please enter a valid username</span>
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
        <div class="col-md-6">
            <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password">
            <div>
                <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                    class="help-block">Please enter a valid password</span>
                <span *ngIf="registerForm.get('password').hasError('minlength')">
                    Must be at least 8 characters!
                </span>
            </div>
        </div>
    </div>

    <span class="col-md-6 offset-md-4">
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-info">Sign Up</button>
        <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
    </span>
</form>

<div class="form-group row mt-3">
    <div class="col-md-6 text-md-right">
        <button (click)="socialSignIn('facebook')" class="btn btn-facebook"><i class="fab fa-facebook-f pr-1"></i>
            Facebook
        </button>
    </div>
    <div class="col-md-2  text-md-right">
        <button (click)="socialSignIn('google')" class="btn btn-google"><i class="fab fa-google pr-1"></i>
            Google
        </button>
    </div>
</div>