<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Blog</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item" *ngIf="(Login|async)">
                <a class="nav-link" routerLink="/post/create/new">Create Post</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <div *ngIf="(Login|async) else loading">
                <li class="nav-item" ngbDropdown class="float-right">
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a class="nav-link" routerLink="/user/profile" ngbDropdownItem>Profile</a>
                        <button (click)="logout()" class="nav-link" ngbDropdownItem>Logout</button>
                    </div>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{username |async}}</button>
                </li>
            </div>
            <ng-template #loading>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup">Signup</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>

